info:
    nais:
        cluster: ${nais.cluster.name}
        image: ${nais.app.image}
        app: ${nais.app.name}
        namespace: ${nais.namespace}
spring:
    discovery:
        client:
            health-indicator:
                enabled: false
    application:
        name: fss-proxy
    main:
        banner-mode: off
    jackson:
        default-property-inclusion: non_empty
        json:
            mapper:
                accept-case-insensitive-enums: true
                accept-case-insensitive-properties: true
            read:
                unknown-enum-values-using-default-value: true
                accept-single-value-as-array: true
                fail-on-unknown-properties: true
            write:
                empty-json-arrays: false
                fail-on-empty-beans: false
management:
    endpoints:
        web:
            exposure:
                include: '*'
    endpoint:
        health:
            show-details: always
        configprops:
            show-values: always
        env:
            additional-keys-to-sanitize: "client-jwk,jwk,jwks"
            show-values: always
    info:
        os:
            enabled: true
        java:
            enabled: true
        env:
            enabled: true
    health:
        ping:
            enabled: false
        diskspace:
            enabled: false
no.nav:
    security:
        jwt:
            issuer:
                aad:
                    discovery_url: https://login.microsoftonline.com/${azure.app.tenant.id}/v2.0/.well-known/openid-configuration
                    accepted_audience: ${azure.app.client.id}
                    proxy-url: http://webproxy.nais:8088

springdoc:
    packagesToScan: no.nav.aap
    swagger-ui:
        disable-swagger-default-url: true
    show-actuator: true
    enable-spring-security: false

arena:
    credentials:
        id: ${arenaclient.id}
        secret: ${arenaclient.secret}

arenasoap:
    sts:
        username: ${serviceuser.username}
        password: ${serviceuser.password}
    credentials:
        id: ${arenasoap.id}
        secret: ${arenasoap.secret}