name: Bygg og deploy

on:
    push:
        branches:
            - main
env:
  IMAGE_BASE: europe-north1-docker.pkg.dev/nais-management-233d/aap/${{ github.event.repository.name }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
    bygg:
        permissions:
            contents: "read"
            id-token: "write"
            packages: write
        runs-on: ubuntu-latest
        outputs:
            image: ${{ steps.kompiler.outputs.image }}
        steps:
            -   name: Sjekk ut kode
                uses: actions/checkout@v6

            -   name: Sett opp Java
                uses: actions/setup-java@v4
                with:
                    java-version: 17
                    distribution: temurin
                    cache: gradle

            -   name: Setter TAG
                run: echo "TAG=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

            -   name: Setter IMAGE
                run: echo "IMAGE=$(echo $IMAGE_BASE):$(echo $TAG)" >> $GITHUB_ENV

            -   name: Login GAR
                uses: nais/login@v0
                with:
                    team: aap

            -   name: Kompiler og deploy image med jib
                id: kompiler
                env:
                  GAR_TOKEN: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
                  VERSION: ${{ env.TAG }}
                run: |
                    echo "image=${{ env.IMAGE }}" >> $GITHUB_OUTPUT
                    ./gradlew build jib -Pversion=${TAG}
                    echo "DIGEST=$(cat build/jib-image.digest)" >> $GITHUB_ENV

            - name: Attest and sign image
              uses: nais/attest-sign@v1.5.22
              with:
                image_ref: ${{ env.IMAGE }}@${{ env.DIGEST }}
    
    
    deploy:
        strategy:
            matrix:
                cluster: [ dev-fss,prod-fss ]
        environment: ${{ matrix.cluster }}:aap
        name: Deploy til ${{ matrix.cluster }}
        needs: bygg
        runs-on: ubuntu-latest
        permissions:
            contents: "read"
            id-token: "write"
        env:
            PRINT_PAYLOAD: true
            RESOURCE: .deploy/nais.yaml
            CLUSTER: ${{ matrix.cluster }}
            VARS: .deploy/${{ matrix.cluster }}.yaml
            VAR: image=${{needs.bygg.outputs.image}}
        steps:
            -   uses: actions/checkout@v6
            -   uses: nais/login@v0
                id: login
                with:
                    team: aap
            -   uses: nais/deploy/actions/deploy@v2
