name: Build PR or branch

on:
  pull_request:
    branches:
      - main
env:
  IMAGE_BASE: europe-north1-docker.pkg.dev/${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}/aap/${{ github.event.repository.name }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  bygg:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    steps:
      -   name: Sjekk ut kode
          uses: actions/checkout@v6

      -   name: Sett opp Java
          uses: actions/setup-java@v5.2.0
          with:
            java-version: 21
            distribution: temurin
            cache: gradle

      -   name: Setter TAG
          run: echo "TAG=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      -   name: Setter IMAGE
          run: echo "IMAGE=$(echo $IMAGE_BASE):$(echo $TAG)" >> $GITHUB_ENV

      -   name: Setter tag-navn
          run: echo "TAG=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      -   name: Kompiler
          id: kompiler
          env:
            GITHUB_PASSWORD: ${{ secrets.READER_TOKEN }}
          run: |
            ./gradlew -DGAR_TOKEN=${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }} -Drevision=${TAG} clean build --continue
